.content{
    width: 100%;
}

.content table{
    margin: 5rem 0;
    background-color: rgba(0, 0, 0,0.25);
    border-radius: 1.5rem;
    padding: 0rem 5rem 2.5rem 5rem;
}

.content table tr td{
    padding: 5rem 5rem 1rem 5rem;
    border-bottom: 0.5px solid white;
}

.content table img{
    width: 5rem;
}

@media only screen and (max-width: 780px){
    .content table{
        margin: 4rem 0;
    }
    .content table tr td{
        padding: 2.5rem 2.5rem 0.5rem 2.5rem;
        border-bottom: 0.5px solid white;
    }   
}

@media only screen and (max-width: 660px){
    .content table{
        margin: 3rem 0;
    }
    .content table tr td{
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
        border-bottom: 0.5px solid white;
    }   
}

@media only screen and (max-width: 420px){
    .content table{
        margin: 2.5rem 0;
    }

    .content table tr td{
        font-size: 1.2rem;
    }   
}

@media only screen and (max-width: 360px){
    .content table{
        margin: 2rem 0;
    }

    .content table tr td{
        font-size: 1rem;
    }   
}