.content {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.btn_dark_light {
    margin: 1.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.content table {
    border-collapse: separate;
    border-spacing: 0 1.5rem;
    padding: 0rem 2.5rem 2.5rem 5rem;
    margin: 0 auto;
    color: black;
}

.content table tr td {
    position: relative;
}

.content table tr>div {

    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    box-shadow: -1px 3px 27px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 3px 27px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 27px -21px rgba(0, 0, 0, 0.75);
}

.content table tr td {
    border-radius: 1.5rem;
    padding: 0rem 5rem 1rem 5rem;
}

.content table img {
    width: 5rem;
}

@media only screen and (max-width: 780px) {
    .content table {
        margin: 4rem 0;
    }

    .content table tr td {
        padding: 2.5rem 2.5rem 0.5rem 2.5rem;
        border-bottom: 0.5px solid white;
    }
}

@media only screen and (max-width: 660px) {
    .content table {
        margin: 3rem 0;
    }

    .content table tr td {
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;
        border-bottom: 0.5px solid white;
    }
}

@media only screen and (max-width: 420px) {
    .content table {
        margin: 2.5rem 0;
    }

    .content table tr td {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 360px) {
    .content table {
        margin: 2rem 0;
    }

    .content table tr td {
        font-size: 1rem;
    }
}