.content {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.container_dark_light {
    margin: 1.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.btn_dark_light {
    padding: 0 1rem;
    margin: 0;
    border: none;
    border-radius: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.btn_dark_light p {
    padding: 0;
    margin: 0;
}

.content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1.5rem;
    padding: 0rem 2.5rem 2.5rem 5rem;
    margin: 0 auto;
    color: black;
}

.content table tr {
    width: 100%;
}

.content table tr td {
    position: relative;
    width: 25%;
}

.content table tr>div {

    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    box-shadow: -1px 3px 27px -21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 3px 27px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 27px -21px rgba(0, 0, 0, 0.75);
}

.content table tr td {
    border-radius: 1.5rem;
    padding: 0rem 5% 1rem 5%;
}

.content table img {
    width: 5rem;
    padding: 1.5rem;
    margin: 0;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 780px) {
    .content table
    {
        margin-left: -1rem;
        padding-bottom: 30rem;
    }

    .content table tr td {
        padding: 2.5rem 2.5rem 0.5rem 2.5rem;
    }
}

@media only screen and (max-width: 570px) {
    .content table tr td {
        font-size: 1.4rem;
        padding: 2.5rem 0.5rem 0.5rem 0.5rem;
    }
}

@media only screen and (max-width: 430px) {
    .content table tr td {
        font-size: 1.2rem;
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    }
}

